html,body,section{
    background: #EA455B;
}

/* Funcionarios */
.funcionarios{
    background-image: url(../img/Infraestrutura\ Senai.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.texto-funcionarios{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    margin: auto;
    flex-direction: column;
}
.texto-funcionarios h1{
    margin-right:auto ;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 48px;
    padding-bottom: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.texto-funcionarios p{
    font-size: 18px;
    font-weight: 400;
    line-height: 167%;
}

.seta-baixo{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
/* funcioanrios */

/* Mosaico */
.mosaico-imagens{
    margin: auto;
    height: 80%;
    max-width: 828px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.imagem-grande{
    width: 100%;
    height: 65%;
    border: 1px solid;
    margin: auto;
}

.bullets{
    padding: 5% 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.bullet{
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 50px;
}

.active{
    background-color: #3097C9;
}

.bullet:hover{
    cursor: pointer;
    background-color: rgb(149, 217, 252);
}

.bullet:last-child{
    margin-right: 0;
}

.selecao-imagens{
    display: flex;
    justify-content: space-between;
}

.selecao-imagens img{
    height: 207px;
    width: 266px;
}
/* mosaico */


footer{
    height: 30px;
    background: white;
}
footer p{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}

@media screen and (max-width:700px){
    h1{
        font-size: 40px;
    }

    .galeria-img > .img-pequena{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .galeria-img img{
        margin: 15px auto;
        width: 250px;
        height: 180px;
    }

    .galeria{
        width: 100%;
        height: auto;
    }

    .carousel{
        margin: auto;
        padding-top:50%;
    }
    
    .banner{
        height: 50vh;
    }

    .img-pequena img:nth-child(4){display: none;}
    .imagem-grande{
        display: none;
        margin-right:0;
        height: 617px!important;
    }
}