header{
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar{
    font-family: 'Comfortaa', cursive;
    height: 100%;
    max-width:500px ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdowns{
    cursor: pointer;
    color: white;
}

.dropdowns-menu{
    position: fixed;
    top:50px;
    width: 70px;
    display: none;
    list-style: none;
}

.dropdowns-menu li{
    padding: 0;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.dropdowns-menu a{
    display: block;
    color: white;
    text-decoration: none;
}