header{
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar{
    font-family: 'Comfortaa', cursive;
    height: 100%;
    max-width:500px ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    font-family: 'Comfortaa', cursive;
    max-width:500px ;
    margin:0 auto;
    display: flex;
    /* justify-content: space-between; */
    padding-top: 0px;
}

.dropdowns{
    cursor: pointer;
    color: white;
}

.dropdowns-menu{
    width: 70px;
    display: none;
    list-style: none;
}

.dropdowns-menu li{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.dropdowns-menu a{
    display: block;
    color: white;
    text-decoration: none;
}