html,body{
    background-color: #3097C9;;
}

/* Infraestrutura */
.infraestrutura{
    background-image: url(../img/Infraestrutura\ Senai.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.texto-infraestrutura{
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    margin: auto;
    flex-direction: column;
}
.texto-infraestrutura h1{
    margin-right:auto ;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 48px;
    padding-bottom: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.texto-infraestrutura p{
    font-size: 18px;
    font-weight: 400;
    line-height: 167%;
}

.seta-baixo{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
/* Fim infraestrutura */

/* Mosaico */
.mosaico{height: 120%}
.mosaico-imagens{
    margin: auto;
    height: 80%;
    max-width: 828px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slide{
    display: none;
}

.slide img{
    width: 828px;
    height: 540px;
}

.cursor{
    cursor: pointer;
}

.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover{
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: white;
}



.numeracao{
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.container-captacao{
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.linha::after{
    content: "";
    display: table;
    clear: both;
}

.coluna{
    float: left;
    width: 33.33%;
}

.demo{
    opacity: 0.6;
}

.active,.demo:hover{
    opacity: 1;
}

footer{
    height: 30px;
    background: white;
}
footer p{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}
@media screen and (max-width:700px){
    .infraestrutura h1{
        font-size: 36px;
    }

    .infra-imgs div{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .infra-imgs img{
        width: 300px;
        height: 250px;
    }
    .container{
    height:80%
    }

    .container img{
        height:50%;
    }

    .galeria-img > .img-pequena{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .galeria-img img{
        margin: 15px auto;
        width: 250px;
        height: 180px;
    }

    .galeria{
        width: 100%;
        height: auto;
    }
    .banner{
        height: 50vh;
    }
    .carousel{
        padding-top:50%;
    }
    .carousel-inner{
        border-radius: 15px;
    }
    

    footer p{
        text-align: center;
        font-size: 10px;
    }

    .img-pequena img:nth-child(3){display: none;}
    .img-pequena img:nth-child(4){display: none;}
    .img-pequena img:nth-child(5){display: none;}
}

@media screen and (max-width:1440px){
    .mosaico{height: 130%;}
}
@media screen and (max-width:1366px){
    .mosaico{height: 160%;}
}

