@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,section{
    height: 100%;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.divisao{
    width: 100%;
    height: 15px;
    background: white;
}

/* Cabecalho */
header{
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar{
    font-family: 'Comfortaa', cursive;
    height: 100%;
    max-width:500px ;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    font-family: 'Comfortaa', cursive;
    max-width:500px ;
    margin:0 auto;
    display: flex;
    /* justify-content: space-between; */
    padding-top: 0px;
}

.dropdowns{
    cursor: pointer;
    color: white;
}

.dropdowns-menu{
    width: 70px;
    display: none;
    list-style: none;
}

.dropdowns-menu li{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.dropdowns-menu a{
    display: block;
    color: white;
    text-decoration: none;
}

/*Fim Cabecalho */



/* Projeto */
.inicio{
    background-image: url(../img/Introdução\ Site.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.inicio img{
    width: 641px;
    height: 198px;
}



.title{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}


.pagina h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    color: white;
    text-transform: uppercase;
}

.pagina a{
    color: white;
    text-decoration: none;
}

.guia-paginas{
    position: relative;
}
/* Slider */
.banner{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}


.primeiro-banner{
    background-image: url(../img/Infraestrutura\ Senai.png);
}


.segundo-banner{
    background-image: url(../img/Funcionario\ Senai.png);
}
.terceiro-banner{
    background-image: url(../img/Cursos\ Senai.png);
}

.texto-banner{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 96px;
}
.texto-banner a{
    color: white;

}
/* Fim slider */


.projeto{
    background-image: url(../img/Projeto\ Senai.png);
    background-position: center;
    background-size: cover;
    color: white;
}

.projeto > .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-projeto img{
    width: 500px;
    height: 144px;
}

.texto-projeto{
    margin-top: 50px;
    width:55%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.texto-projeto h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.texto-projeto p{
    padding-top: 20px;
}

/* Fim projeto */

/* Sobre */

#cromo{
    background-image: url(../img/Grupo\ Cromo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    color: white;
}

.cromo{
    position: absolute;
    width: 70%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.cromo h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.cromo p{
    padding-top: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

/* footer */
footer{
    height: 50px;
    background: white;
}
footer p{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

@media screen and (max-width:700px){
    .inicio img{
        width: 270px;
        height: 98px;
    }
    
    .pagina h2{
        font-size: 36px;
    }

    .navbar{
        height: 100%;
        max-width:300px;
        padding: 0 2%;
    }
    .projeto > .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .img-projeto img{
        width: 300px;
        height: 80px;
    }

    .texto-projeto{
        width:80%;
        font-size: 15px;
    }

    .texto-projeto h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
    }
    
    .texto-projeto p{
        font-size: 13px;
    }

    .cromo{
        width: 90%;
    }

    .cromo h2{
        text-align: center;
        padding-bottom: 50px;
    }

    .cromo p{
        font-size: 15px;
        padding: 0;
    }

    .texto-banner{
        font-size: 45px;
    }

    footer p{
        font-size: 10px;
    }
}